@import '../fonts/OpenSans-Regular.ttf';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap&subset=cyrillic,latin-ext');

$primary: #ef5b4c;
$secondary: #007bff;
$background: #fff;
$background2: #f9f9f3;
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        line-height: 54px;
        margin: 0px;
    }
    h2 {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px; 
    }
    p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px; 
    }
}